.App {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif0;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}