.artcard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
}

.artcard img {
  display: grid;
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}