.footer {
  width: 100%;
  --height: 120px;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 650px) {
  .socialMedia svg {
    font-size: 45px;
  }
}