.form {
  height: 75vh;
}

.btn-primary {
  color: #fff;
  background-color: #aa6c10;
  background-color: cutom-color;
  border-color: #181717;
  border-color: cutom-cor;
  text-align: center;
}